<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Friday Movie Night" %></title>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Alegreya+SC:900|Luckiest+Guy" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>
  <!-- <div class="top-bar-left">
    <div class="account-commands small-12 columns">
    <ul>
      <% if user_signed_in? %>
      <li id="account-button"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <% unless current_page?(new_user_registration_path)%>
          <li id="account-button"><%= link_to "Create Account", new_user_registration_path%></li>
      <%end %>
        <% unless current_page?(new_user_session_path)%>
          <li id="account-button"><%= link_to "Sign In", new_user_session_path%></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  </div>
  <div class="top-bar-right">
    <div class="user-perks small-12 offset-11 columns">
      <div class="row" id="account-button">
      <% if current_user %>
      <% unless current_page?(user_path(current_user)) %>
      <%= link_to "My Stuff", user_path(current_user) %>
      <% end %>
      <% end %>
  </div>
  <div class="row" id="account-button">
      <% unless current_page?(new_suggestion_path) %>
      <%= link_to "Make my own combo", new_suggestion_path %>
      <% end %>
    </div>
  </div>
  </div>
  <div class="flash-message">
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
</div> -->
  <%= yield %>

</body>
</html>
