<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Friday Movie Night" %></title>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Alegreya+SC:900|Luckiest+Guy" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="top-bar-left">
    <ul>
      <% if user_signed_in? %>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <% unless current_page?(new_user_registration_path)%>
          <li><%= link_to "Create Account", new_user_registration_path%></li>
      <%end %>
        <% unless current_page?(new_user_session_path)%>
          <li><%= link_to "Sign In", new_user_session_path%></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <% if user_signed_in?
        unless current_page?(new_suggestion_path) %>
      <%= link_to "Make my own combo", new_suggestion_path %>
    <% end %>
      <% unless current_page?(user_path(current_user)) %>
      <%= link_to "My Stuff", user_path(current_user) %>
      <% end %>
    <% end %>
  </div>
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
  <%= yield %>

</body>
</html>
